.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}

img {
  height: 300px;
}

body{
  background-color: red;
}

h4{
  font-size: larger;
}

p{
  font-size: large;
}